<div id="main">
  <span class="sbutton" id="savee">I need help</span>
  <span class="sbutton" id="saviour">I want to help</span>
</div>
<div id="spinner" style="display: none;">
	<img style="display:inline; " src="http://apps.nea.gov/GrantSearch/images/ajaxSpinner.gif" width="100" height="100"></img> Connecting...
</div>
<div id="messaging" class="container" style="display:none; clear:both'">
	<div style="height:200px; display: none; margin-bottom: 20px" class="clearfix" id="video-views">
    <div>
      <div id="myCamera" class="publisherContainer" style="float:left;"></div>
      <div id="subscribers" style=" margin-left:40px;float:left"></div>
    </div>
  </div>
	<div class="pull-left" id="video-div" style="margin-bottom: 20px;">
		<div style="margin: 0 auto; width: 600px" class="clearfix">
			<div style="margin: 20px 40px -30px 0px;" class="clearfix">
			  <input style="display: block" id="video-chat"  class="video-button special-input pull-left" type="submit" value="Video Chat">
			  <div class="pull-left" style="margin-left: 20px; margin-top:10px">
			  	<textarea id="message-box" style="60px -40px -10px 0px"></textarea>
					<span id="textsubmit" class="sbutton" style="margin-top: 0;">Submit</span>
				</div>
			</div>
			<div id="messages" class="pull-left"></div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="pull-right" style="display: none; margin-left: 650px; margin-top: -440px;" id="requester_tips">	<h3> Mental Health Resources: </h3>
		<div id="requester_hints">
      <div class="hint"><a class="link_reset" href="http://www.mayoclinic.com/health/mental-health/MH00042">Mayo Clinic - Mental health - What's normal, what's not</div>
      <div class="hint"><a class="link_reset" href="http://www.webmd.com/mental-health/default.htm">WebMD Mental Health Center</div>
      <div class="hint"><a class="link_reset" href="http://www.webmd.com/depression/default.htm">WebMD Depression Health Center</div>
      <div class="hint"><a class="link_reset" href="http://www.webmd.com/mental-health/medical-reference-index">WebMD Medical Reference Related to Mental Health</div>
      <div class="hint"><a class="link_reset" href="http://www.cdc.gov/mentalhealth/basics.htm">CDC Mental Health Basics</div>
      <div class="hint"><a class="link_reset" href="http://www.wfmh.com/">World Federation for Mental Health</div>
		</div>
	</div>
	<div class="pull-right" style="display: none; margin-left: 650px; margin-top: -440px;" id="tips">	<h3> Hints and Tips: </h3>
		<div id="hints">
		</div>
	</div>
</div>

<script type="text/template" id="message-template">
	<hr style="margin: 5px 0">
		[[ if (self) { ]]
  	<span style="color: #fff; border-radius:5px; margin-left: 2px; padding: 1px 4px; background-color: #09612E; margin-right: 10px; display:inline-block;">You:</span>[[= message ]]
  	[[ } else { ]]
  	<span style="color: #fff; border-radius:5px; margin-left: 2px; padding: 1px 4px; background-color: #09612E; margin-right: 10px; display:inline-block;">[[= name ]]:</span> [[= message ]]
  	[[ } ]]
</script>

<script type="text/template" id="hint-template">
	<div class="hint">[[= content ]]</div>
</script>

<script type="text/javascript">
  // Initialize API key, session, and token...
  // Think of a session as a room, and a token as the key to get in to the room
  // Sessions and tokens are generated on your server and passed down to the client
  var apiKey = "31251162";
  var sessionId = "1_MX4zMTI1MTE2Mn4xMjcuMC4wLjF-RnJpIEp1biAwNyAwMjo0Mjo0NyBQRFQgMjAxM34wLjcyMTU3Nzl-";
  var token = "T1==cGFydG5lcl9pZD0zMTI1MTE2MiZzZGtfdmVyc2lvbj10YnJ1YnktdGJyYi12MC45MS4yMDExLTAyLTE3JnNpZz1mMDk5YzIyMGZjMDNkZDAwYTc2ZWFhNWJkMTRhYTdiZDUyZjdlNzA2OnJvbGU9cHVibGlzaGVyJnNlc3Npb25faWQ9MV9NWDR6TVRJMU1URTJNbjR4TWpjdU1DNHdMakYtUm5KcElFcDFiaUF3TnlBd01qbzBNam8wTnlCUVJGUWdNakF4TTM0d0xqY3lNVFUzTnpsLSZjcmVhdGVfdGltZT0xMzcwNTk4MTczJm5vbmNlPTAuODk3MTg0NDYxNjQyMDQ0MiZleHBpcmVfdGltZT0xMzczMTkwMTU3JmNvbm5lY3Rpb25fZGF0YT0=";
  
  var session;
  var publisher;
  var subscribers = {};
  var VIDEO_WIDTH = 280;
  var VIDEO_HEIGHT = 210;

  TB.addEventListener("exception", exceptionHandler);
  
  // Un-comment the following to set automatic logging:
  // TB.setLogLevel(TB.DEBUG);

  if (TB.checkSystemRequirements() != TB.HAS_REQUIREMENTS) {
    alert("You don't have the minimum requirements to run this application."
        + "Please upgrade to the latest version of Flash.");
  } else {
    session = TB.initSession(sessionId);  // Initialize session

    // Add event listeners to the session
    session.addEventListener('sessionConnected', sessionConnectedHandler);
    session.addEventListener('sessionDisconnected', sessionDisconnectedHandler);
    session.addEventListener('connectionCreated', connectionCreatedHandler);
    session.addEventListener('connectionDestroyed', connectionDestroyedHandler);
    session.addEventListener('streamCreated', streamCreatedHandler);
    session.addEventListener('streamDestroyed', streamDestroyedHandler);
  }

  //--------------------------------------
  //  LINK CLICK HANDLERS
  //--------------------------------------

  /*
  If testing the app from the desktop, be sure to check the Flash Player Global Security setting
  to allow the page from communicating with SWF content loaded from the web. For more information,
  see http://www.tokbox.com/opentok/docs/js//tutorials/helloworld.html#localTest
  */
  
  function connect() {
    session.connect(apiKey, token);
  }

  // Called when user wants to start publishing to the session
  function startPublishing() {
    if (!publisher) {
      var parentDiv = document.getElementById("myCamera");
      var publisherDiv = document.createElement('div'); // Create a div for the publisher to replace
      publisherDiv.setAttribute('id', 'opentok_publisher');
      parentDiv.appendChild(publisherDiv);
      var publisherProps = {width: VIDEO_WIDTH, height: VIDEO_HEIGHT};
      publisher = TB.initPublisher(apiKey, publisherDiv.id, publisherProps);  // Pass the replacement div id and properties
      session.publish(publisher);
      // show('unpublishLink');
      // hide('publishLink');
    }
  }
  function stopPublishing() {
    if (publisher) {
      session.unpublish(publisher);
    }
    publisher = null;
    // show('publishLink');
    // hide('unpublishLink');
  }

  //--------------------------------------
  //  OPENTOK EVENT HANDLERS
  //--------------------------------------

  function sessionConnectedHandler(event) {
    // Subscribe to all streams currently in the Session
    for (var i = 0; i < event.streams.length; i++) {
      addStream(event.streams[i]);
    }

    startPublishing();
    // show('disconnectLink');
    // show('publishLink');
    // hide('connectLink');
  }

  function streamCreatedHandler(event) {
    // Subscribe to the newly created streams
    for (var i = 0; i < event.streams.length; i++) {
      addStream(event.streams[i]);
    }
  }

  function streamDestroyedHandler(event) {
    // This signals that a stream was destroyed. Any Subscribers will automatically be removed.
    // This default behaviour can be prevented using event.preventDefault()
  }

  function sessionDisconnectedHandler(event) {
    // This signals that the user was disconnected from the Session. Any subscribers and publishers
    // will automatically be removed. This default behaviour can be prevented using event.preventDefault()
    publisher = null;

    // show('connectLink');
    // hide('disconnectLink');
    // hide('publishLink');
    // hide('unpublishLink');
  }

  function connectionDestroyedHandler(event) {
    // This signals that connections were destroyed
  }

  function connectionCreatedHandler(event) {
    // This signals new connections have been created.
  }

  /*
  If you un-comment the call to TB.setLogLevel(), above, OpenTok automatically displays exception event messages.
  */
  function exceptionHandler(event) {
    alert("Exception: " + event.code + "::" + event.message);
  }
  //--------------------------------------
  //  HELPER METHODS
  //--------------------------------------
  function addStream(stream) {
    // Check if this is the stream that I am publishing, and if so do not publish.
    if (stream.connection.connectionId == session.connection.connectionId) {
      return;
    }
    var subscriberDiv = document.createElement('div'); // Create a div for the subscriber to replace
    subscriberDiv.setAttribute('id', stream.streamId); // Give the replacement div the id of the stream as its id.

    subscriberDiv.setAttribute('style', 'float:left'); 
    document.getElementById("subscribers").appendChild(subscriberDiv);
    var subscriberProps = {width: VIDEO_WIDTH, height: VIDEO_HEIGHT};
    subscribers[stream.streamId] = session.subscribe(stream, subscriberDiv.id, subscriberProps);
  }
  function show(id) {
    document.getElementById(id).style.display = 'block';
  }
  function hide(id) {
    document.getElementById(id).style.display = 'none';
  }
  $('#video-chat').click(function(){
    $('#video-views').slideDown();
    $("#video-chat").hide();
    $("#message-box")
    	.css('display', 'inline-block')
    	.css('margin-top', '0px')
    	.css('margin-bottom', '20px');
    $("#textsubmit").css('display', 'inline-block');
    connect()
  });
  </script>
