<div id="main" style="background-color: #FFE39C; margin-top: 200px; margin-left: 200px;">
  <span class="sbutton" id="savee">I need help</span>
  <span class="sbutton" id="saviour">I want to help</span>
</div>