// Place all the styles related to the videoconferences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
.link_reset {
  a {
  }
  link {
      color: #666666;
      text-decoration: none;
  }
   
  active {
      color: #B73045;
      text-decoration: none;
  }
   
  visited {
      color: #999999;
      text-decoration: none;
  }
  hover {
      color: #B73045;
      text-decoration: none;
  }
}
*/
